<h1>Subjects#edit</h1>
<h2>edit subject here</h2>
<%= form_for(@subject) do |f| %>
    <p>Subject Name:
    <%= f.text_field(:name) %></p>
    <p>Positon
    <%= f.text_field(:position) %></p>
    <p>Visible
    <%= f.text_field(:visible) %></p>
    <%= f.submit("Edit subject") %>    
<% end %>
