<div style="text-align: center;">

<h1>All Available subjects</h1>
<h2><%= link_to("Add new subject", new_subject_path, :class => "action new") %></h2>
<p>Check the first subject directly: 
<%= link_to("show subject", subject_path(1)) %></p>
<div style="border: 3px solid green;">
<% @subject.each do |subject| %>
<p><%= subject.name%>
<%= subject.position%>
<%= link_to("Show",subject_path(subject), :class => 'show action') %>
<%= link_to("Edit",edit_subject_path(subject), :class => 'edit action') %>
<%= link_to("Delete",delete_subject_path(subject), :class => 'delete action') %></p>

<% end %>
</div>
</div>
